{{i18n text attributes=textAttributes}}

{{#if buttons}}
<dialog-buttons>
	{{#each button in dialogButtons}}
		<button {{action 'click' button.action}}>{{i18n button.caption}}</button>
	{{/each}}
</dialog-buttons>
{{/if}}