{{i18n text attributes=textAttributes}}

{{#if buttons}}
<dialog-buttons>
	{{#each dialogButtons as |button|}}
		<button class={{button.action}} {{action 'click' button.action}}>{{i18n button.caption}}</button>
	{{/each}}
</dialog-buttons>
{{/if}}